<%- include("../includes/header.ejs", {title:"Teams - View All"}); %>

<h1>Players</h1>
<a href="/team/add">Add New Team</a> <br />

<br />

<table border="1">
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td>
            <a href="/team/?team_id=<%= result[i].name %>"><%= result[i].name %></a>
        </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/team/edit/?team_id=<%= result[i].name %>'">Edit</button>
            <form action="/team/delete/" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>