<%- include("../includes/header.ejs", {title:"Player - View All"}); %>

<h1>Players</h1>
<a href="/player/add">Add New Player</a> <br />

<br />

<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>College</th>
        <th>Draft Year</th>
        <th>Height</th>
        <th>NBA Status</th>
        <th>Position</th>
        <th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td>
            <a href="/player/?player_id=<%= result[i].name %>"><%= result[i].name %></a>
        </td>
        <td>
            <a href="/player/?player_id=<%= result[i].age %>"><%= result[i].age %></a>
        </td>
        <td>
            <a href="/player/?player_id=<%= result[i].college %>"><%= result[i].college %></a>
        </td>
        <td>
            <a href="/player/?player_id=<%= result[i].draft_year %>"><%= result[i].draft_year %></a>
        </td>
        <td>
            <a href="/player/?player_id=<%= result[i].height %>"><%= result[i].height %></a>
        </td>
        <td>
            <a href="/player/?player_id=<%= result[i].nba_status %>"><%= result[i].nba_status %></a>
        </td>
        <td>
            <a href="/player/?player_id=<%= result[i].position %>"><%= result[i].position %></a>
        </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/player/edit/?player_id=<%= result[i].player_id %>'">Edit</button>
            <form action="/player/delete/" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>